.sessions-container {
    width: 258px;
    height: 263px;
    background-color: #FF0000;
    border-radius: 5px;
    position: relative;
}

.sessions-title {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 15px;
    left: 40px;
    opacity: 50.4%;
    width: 147px;
    text-align: left;
}

.custom-tooltip-sessions {
    background-color: white;
    color: #020203;
    text-align: center;
    margin-left: 2em;
    padding: 3px 10px;
}
