.daily-activity {
    height: 270px;
    width: 100px;
}

.daily-container {
    height: 320px;
    width: 835px;
    background-color: #FBFBFB;
    border-radius: 5px;

}

.daily-title {
    text-align: left;
    margin-left: 130px;
}

.custom-tooltip {
    background-color: red;
    color: white;
    text-align: center;
    padding: .1em 1em;
    line-height: 2em;
    margin-left: 2em;
}

.custom-tooltip-text {
    font-size: 12px;
}
