.red{
    color: #FF0101;
}

.hello-wrapper {
    text-align: left;
}

.page-wrapper {
    margin-left: 200px;
}

.substatistics {
    display: flex;
    gap: 30px;
}

.statistics-container {
    display: flex;
}
